body {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    text-align: center;
}

#home-img {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 80px;
}

#sub-heading,
#para-h {
    font-size: 35px;
}

.para {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}


#para-h,
.para {
    text-align: left;
}

.para.list,
.list {
    font-size: 30px;
    text-decoration: none;
    color: black;
}